In [1]:
from pyspark import SparkContext,SQLContext
sc = SparkContext()
sqlContext=SQLContext(sc)

## Creating DataFrame from RDD

I am following these steps for creating a DataFrame from list of tuples:

1. Create a list of tuples. Each tuple contains name of a person with age.
2. Create a RDD from the list above.
3. Convert each tuple to a row.
4. Create a DataFrame by applying createDataFrame on RDD with the help of sqlContext.

In [2]:
from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

In [3]:
schemaPeople.show()

+---+--------+
|age|    name|
+---+--------+
| 25|   Ankit|
| 22|Jalfaizy|
| 20| saurabh|
| 26|    Bala|
+---+--------+

## Creating the DataFrame from CSV file

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName('Create Dataframe with CSV') \
    .getOrCreate()

In [5]:
hrDF=spark.read.csv('HRDataset_v13.csv',header=True,inferSchema=True)

# DataFrame Manipulation

## How to see datatype of columns?

In [6]:
hrDF.printSchema()

root
 |-- Employee_Name: string (nullable = true)
 |-- EmpID: integer (nullable = true)
 |-- MarriedID: integer (nullable = true)
 |-- MaritalStatusID: integer (nullable = true)
 |-- GenderID: integer (nullable = true)
 |-- EmpStatusID: integer (nullable = true)
 |-- DeptID: integer (nullable = true)
 |-- PerfScoreID: integer (nullable = true)
 |-- FromDiversityJobFairID: integer (nullable = true)
 |-- PayRate: double (nullable = true)
 |-- Termd: integer (nullable = true)
 |-- PositionID: integer (nullable = true)
 |-- Position: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- CitizenDesc: string (nullable = true)
 |-- HispanicLatino: string (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- DateofHire: string (nullable = true)
 |-- DateofTermination: string (nullable = true)
 |-- TermReason: string (nullable = true)
 |-- EmploymentStatus: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- ManagerName: string (nullable = true)
 |-- ManagerID: integer (nullable = true)
 |-- RecruitmentSource: string (nullable = true)
 |-- PerformanceScore: string (nullable = true)
 |-- EngagementSurvey: double (nullable = true)
 |-- EmpSatisfaction: integer (nullable = true)
 |-- SpecialProjectsCount: integer (nullable = true)
 |-- LastPerformanceReview_Date: string (nullable = true)
 |-- DaysLateLast30: integer (nullable = true)

## How to Show first n observation?

In [43]:
hrDF.head(2)

[Row(Employee_Name='Brown, Mia', EmpID=1103024456, MarriedID=1, MaritalStatusID=1, GenderID=0, EmpStatusID=1, DeptID=1, PerfScoreID=3, FromDiversityJobFairID=1, PayRate=28.5, Termd=0, PositionID=1, Position='Accountant I', State='MA', Zip=1450, DOB='11/24/87', Sex='F', MaritalDesc='Married', CitizenDesc='US Citizen', HispanicLatino='No', RaceDesc='Black or African American', DateofHire='10/27/2008', DateofTermination=None, TermReason='N/A - still employed', EmploymentStatus='Active', Department='Admin Offices', ManagerName='Brandon R. LeBlanc', ManagerID=1, RecruitmentSource='Diversity Job Fair', PerformanceScore='Fully Meets', EngagementSurvey=2.04, EmpSatisfaction=2, SpecialProjectsCount=6, LastPerformanceReview_Date='1/15/2019', DaysLateLast30=0),
 Row(Employee_Name='LaRotonda, William  ', EmpID=1106026572, MarriedID=0, MaritalStatusID=2, GenderID=1, EmpStatusID=1, DeptID=1, PerfScoreID=3, FromDiversityJobFairID=0, PayRate=23.0, Termd=0, PositionID=1, Position='Accountant I', State='MA', Zip=1460, DOB='04/26/84', Sex='M ', MaritalDesc='Divorced', CitizenDesc='US Citizen', HispanicLatino='No', RaceDesc='Black or African American', DateofHire='1/6/2014', DateofTermination=None, TermReason='N/A - still employed', EmploymentStatus='Active', Department='Admin Offices', ManagerName='Brandon R. LeBlanc', ManagerID=1, RecruitmentSource='Website Banner Ads', PerformanceScore='Fully Meets', EngagementSurvey=5.0, EmpSatisfaction=4, SpecialProjectsCount=4, LastPerformanceReview_Date='1/17/2019', DaysLateLast30=0)]

Above results are comprised of row like format.

To see the result in more interactive manner , we can use the show operation. Letâ€™s apply show operation on dataframe and take first 2 rows of it.

In [44]:
hrDF.show(2)

+--------------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+--------------------+----------------+-------------+------------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
|       Employee_Name|     EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|PayRate|Termd|PositionID|    Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|            RaceDesc|DateofHire|DateofTermination|          TermReason|EmploymentStatus|   Department|       ManagerName|ManagerID| RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|
+--------------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+--------------------+----------------+-------------+------------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
|          Brown, Mia|1103024456|        1|              1|       0|          1|     1|          3|                     1|   28.5|    0|         1|Accountant I|   MA|1450|11/24/87|  F|    Married| US Citizen|            No|Black or African ...|10/27/2008|             null|N/A - still employed|          Active|Admin Offices|Brandon R. LeBlanc|        1|Diversity Job Fair|     Fully Meets|            2.04|              2|                   6|                 1/15/2019|             0|
|LaRotonda, William  |1106026572|        0|              2|       1|          1|     1|          3|                     0|   23.0|    0|         1|Accountant I|   MA|1460|04/26/84| M |   Divorced| US Citizen|            No|Black or African ...|  1/6/2014|             null|N/A - still employed|          Active|Admin Offices|Brandon R. LeBlanc|        1|Website Banner Ads|     Fully Meets|             5.0|              4|                   4|                 1/17/2019|             0|
+--------------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+--------------------+----------------+-------------+------------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
only showing top 2 rows

## How to Count the number of rows in DataFrame?

In [9]:
hrDF.count()

401

## How many columns do we have along with their names?

In [10]:
hrDF.columns

['Employee_Name',
 'EmpID',
 'MarriedID',
 'MaritalStatusID',
 'GenderID',
 'EmpStatusID',
 'DeptID',
 'PerfScoreID',
 'FromDiversityJobFairID',
 'PayRate',
 'Termd',
 'PositionID',
 'Position',
 'State',
 'Zip',
 'DOB',
 'Sex',
 'MaritalDesc',
 'CitizenDesc',
 'HispanicLatino',
 'RaceDesc',
 'DateofHire',
 'DateofTermination',
 'TermReason',
 'EmploymentStatus',
 'Department',
 'ManagerName',
 'ManagerID',
 'RecruitmentSource',
 'PerformanceScore',
 'EngagementSurvey',
 'EmpSatisfaction',
 'SpecialProjectsCount',
 'LastPerformanceReview_Date',
 'DaysLateLast30']

## How to get the summary statistics (mean, standard deviance, min ,max, count) of numerical columns in a DataFrame?

In [45]:
hrDF.describe().show(5)

+-------+-------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+----------------------+------------------+-------------------+------------------+--------------------+-----+-----------------+--------+----+-----------+-------------------+--------------+--------------------+----------+-----------------+----------------+--------------------+--------------------+---------------+------------------+-----------------+----------------+------------------+------------------+--------------------+--------------------------+--------------+
|summary|      Employee_Name|               EmpID|          MarriedID|   MaritalStatusID|          GenderID|       EmpStatusID|           DeptID|       PerfScoreID|FromDiversityJobFairID|           PayRate|              Termd|        PositionID|            Position|State|              Zip|     DOB| Sex|MaritalDesc|        CitizenDesc|HispanicLatino|            RaceDesc|DateofHire|DateofTermination|      TermReason|    EmploymentStatus|          Department|    ManagerName|         ManagerID|RecruitmentSource|PerformanceScore|  EngagementSurvey|   EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|
+-------+-------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+----------------------+------------------+-------------------+------------------+--------------------+-----+-----------------+--------+----+-----------+-------------------+--------------+--------------------+----------+-----------------+----------------+--------------------+--------------------+---------------+------------------+-----------------+----------------+------------------+------------------+--------------------+--------------------------+--------------+
|  count|                310|                 310|                310|               310|               310|               310|              310|               310|                   310|               310|                310|               310|                 310|  310|              310|     310| 310|        310|                310|           310|                 310|       310|              103|             309|                 310|                 310|            310|               302|              310|             310|               310|               310|                 310|                       207|           207|
|   mean|               null| 1.199745348732258E9| 0.3967741935483871|0.8096774193548387|0.4290322580645161|2.3967741935483873|4.606451612903226|2.9838709677419355|    0.0935483870967742| 31.28480645161292|0.33225806451612905|16.838709677419356|                null| null|6569.732258064516|    null|null|       null|               null|          null|                null|      null|             null|            null|                null|                null|           null|14.579470198675496|             null|            null| 3.332096774193548| 3.890322580645161|  1.2096774193548387|                      null|           0.0|
| stddev|               null|1.8295995558201364E8|0.49001939791717225|0.9447024286919616|0.4957381788788523| 1.795532728902942|1.082348962944201|0.5771242030588751|   0.29167020861941934|15.383615284388823|0.47178453255833885| 6.232272070293342|                null| null| 16933.8640544565|    null|null|       null|               null|          null|                null|      null|             null|            null|                null|                null|           null| 8.090352056376712|             null|            null|1.2905902128098459|0.9106897839879314|   2.352008690337631|                      null|           0.0|
|    min|Adinolfi, Wilson  K|           602000312|                  0|                 0|                 0|                 1|                1|                 1|                     0|              14.0|                  0|                 1|        Accountant I|   AL|             1013|01/02/51|   F|   Divorced|Eligible NonCitizen|            No|American Indian o...| 1/10/2011|         01/02/12|Another position|              Active|       Admin Offices|Alex Sweetwater|                 1|        Billboard|         Exceeds|              1.03|                 1|                   0|                 1/10/2019|             0|
|    max|      Zima, Colleen|          1988299991|                  1|                 4|                 1|                 5|                6|                 4|                     1|              80.0|                  1|                30|Sr. Network Engineer|   WA|            98052|12/31/84|  M |    Widowed|         US Citizen|           yes|               White|  9/6/2016|         12/28/12|         unhappy|Voluntarily Termi...|Software Engineering| Webster Butler|                39|    Word of Mouth|             PIP|               5.0|                 5|                   8|                  2/8/2019|             0|
+-------+-------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+----------------------+------------------+-------------------+------------------+--------------------+-----+-----------------+--------+----+-----------+-------------------+--------------+--------------------+----------+-----------------+----------------+--------------------+--------------------+---------------+------------------+-----------------+----------------+------------------+------------------+--------------------+--------------------------+--------------+

In [12]:
hrDF.describe()

DataFrame[summary: string, Employee_Name: string, EmpID: string, MarriedID: string, MaritalStatusID: string, GenderID: string, EmpStatusID: string, DeptID: string, PerfScoreID: string, FromDiversityJobFairID: string, PayRate: string, Termd: string, PositionID: string, Position: string, State: string, Zip: string, DOB: string, Sex: string, MaritalDesc: string, CitizenDesc: string, HispanicLatino: string, RaceDesc: string, DateofHire: string, DateofTermination: string, TermReason: string, EmploymentStatus: string, Department: string, ManagerName: string, ManagerID: string, RecruitmentSource: string, PerformanceScore: string, EngagementSurvey: string, EmpSatisfaction: string, SpecialProjectsCount: string, LastPerformanceReview_Date: string, DaysLateLast30: string]

## How to select column(s) from the DataFrame?

In [47]:
hrDF.select('Employee_Name').show(5)

+--------------------+
|       Employee_Name|
+--------------------+
|          Brown, Mia|
|LaRotonda, William  |
|    Steans, Tyrone  |
|     Howard, Estelle|
|         Singh, Nan |
+--------------------+
only showing top 5 rows

## How to find the number of distinct product in train and test files?

In [48]:
hrDF.count(),hrDF.distinct().count()

(401, 311)

## What if I want to calculate pair wise frequency of categorical columns?

In [49]:
hrDF.crosstab('MaritalDesc', 'Sex').show()

+---------------+---+---+----+
|MaritalDesc_Sex|  F| M |null|
+---------------+---+---+----+
|           null|  0|  0|  91|
|      Separated|  9|  3|   0|
|        Widowed|  4|  4|   0|
|       Divorced| 16| 14|   0|
|        Married| 72| 51|   0|
|         Single| 76| 61|   0|
+---------------+---+---+----+

## What If I want to get the DataFrame which wonâ€™t have duplicate rows of given DataFrame?

In [50]:
hrDF.dropDuplicates().count()

311

In [51]:
hrDF.select('*').dropDuplicates().count()

311

## What if I want to drop the all rows with null value?

In [52]:
hrDF.count(),hrDF.dropna().count()

(401, 0)

## What if I want to fill the null values in DataFrame with constant number?

In [53]:
hrDF.fillna('Anurag').show(10)

+--------------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+--------------------+-----+-----+--------+---+-----------+-------------------+--------------+--------------------+----------+-----------------+--------------------+--------------------+-------------+------------------+---------+--------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
|       Employee_Name|     EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|PayRate|Termd|PositionID|            Position|State|  Zip|     DOB|Sex|MaritalDesc|        CitizenDesc|HispanicLatino|            RaceDesc|DateofHire|DateofTermination|          TermReason|    EmploymentStatus|   Department|       ManagerName|ManagerID|   RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|
+--------------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+--------------------+-----+-----+--------+---+-----------+-------------------+--------------+--------------------+----------+-----------------+--------------------+--------------------+-------------+------------------+---------+--------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
|          Brown, Mia|1103024456|        1|              1|       0|          1|     1|          3|                     1|   28.5|    0|         1|        Accountant I|   MA| 1450|11/24/87|  F|    Married|         US Citizen|            No|Black or African ...|10/27/2008|           Anurag|N/A - still employed|              Active|Admin Offices|Brandon R. LeBlanc|        1|  Diversity Job Fair|     Fully Meets|            2.04|              2|                   6|                 1/15/2019|             0|
|LaRotonda, William  |1106026572|        0|              2|       1|          1|     1|          3|                     0|   23.0|    0|         1|        Accountant I|   MA| 1460|04/26/84| M |   Divorced|         US Citizen|            No|Black or African ...|  1/6/2014|           Anurag|N/A - still employed|              Active|Admin Offices|Brandon R. LeBlanc|        1|  Website Banner Ads|     Fully Meets|             5.0|              4|                   4|                 1/17/2019|             0|
|    Steans, Tyrone  |1302053333|        0|              0|       1|          1|     1|          3|                     0|   29.0|    0|         1|        Accountant I|   MA| 2703|09/01/86| M |     Single|         US Citizen|            No|               White| 9/29/2014|           Anurag|N/A - still employed|              Active|Admin Offices|Brandon R. LeBlanc|        1|     Internet Search|     Fully Meets|             3.9|              5|                   5|                 1/18/2019|             0|
|     Howard, Estelle|1211050782|        1|              1|       0|          1|     1|          3|                     0|   21.5|    1|         2|Administrative As...|   MA| 2170|09/16/85|  F|    Married|         US Citizen|            No|               White| 2/16/2015|         04/15/15|              Anurag|Terminated for Cause|Admin Offices|Brandon R. LeBlanc|        1|Pay Per Click - G...|     Fully Meets|            3.24|              3|                   4|                    Anurag|          null|
|         Singh, Nan |1307059817|        0|              0|       0|          1|     1|          3|                     0|  16.56|    0|         2|Administrative As...|   MA| 2330|05/19/88|  F|     Single|         US Citizen|            No|               White|  5/1/2015|           Anurag|N/A - still employed|              Active|Admin Offices|Brandon R. LeBlanc|        1|  Website Banner Ads|     Fully Meets|             5.0|              3|                   5|                 1/15/2019|             0|
|    Smith, Leigh Ann| 711007713|        1|              1|       0|          5|     1|          3|                     1|   20.5|    1|         2|Administrative As...|   MA| 1844|06/14/87|  F|    Married|         US Citizen|            No|               Asian| 9/26/2011|         09/25/13|       career change|Voluntarily Termi...|Admin Offices|Brandon R. LeBlanc|        1|  Diversity Job Fair|     Fully Meets|             3.8|              4|                   4|                    Anurag|          null|
|    Bunbury, Jessica|1504073368|        1|              1|       0|          5|     6|          3|                     0|   55.0|    1|         3|  Area Sales Manager|   VA|21851|06/01/64|  F|    Married|Eligible NonCitizen|            No|Black or African ...| 8/15/2011|         08/02/14|    Another position|Voluntarily Termi...|        Sales|        John Smith|       17|Social Networks -...|     Fully Meets|            3.14|              5|                   0|                    Anurag|          null|
|   Carter, Michelle |1403065721|        0|              0|       0|          1|     6|          3|                     0|   55.0|    0|         3|  Area Sales Manager|   VT| 5664|05/15/63|  F|     Single|         US Citizen|            No|               White| 8/18/2014|           Anurag|N/A - still employed|              Active|        Sales|        John Smith|       17|           Billboard|     Fully Meets|             5.0|              5|                   0|                 1/21/2019|             0|
|   Dietrich, Jenna  |1408069481|        0|              0|       0|          1|     6|          1|                     0|   55.0|    0|         3|  Area Sales Manager|   WA|98052|05/14/87|  F|     Single|         US Citizen|           Yes|               White| 2/20/2012|           Anurag|N/A - still employed|              Active|        Sales|        John Smith|       17|  Website Banner Ads|             PIP|             2.3|              1|                   0|                 1/29/2019|             0|
|    Digitale, Alfred|1306059197|        1|              1|       1|          1|     6|          3|                     0|   56.0|    0|         3|  Area Sales Manager|   NH| 3062|09/14/88| M |    Married|         US Citizen|            No|American Indian o...| 8/18/2014|           Anurag|N/A - still employed|              Active|        Sales|        John Smith|       17|Pay Per Click - G...|     Fully Meets|             3.6|              5|                   0|                 1/30/2019|             0|
+--------------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+--------------------+-----+-----+--------+---+-----------+-------------------+--------------+--------------------+----------+-----------------+--------------------+--------------------+-------------+------------------+---------+--------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
only showing top 10 rows

## If I want to filter the rows in DataFrame which has MaritalDesc as 'Single' and 'Married'?

In [20]:
hrDF.filter(hrDF.MaritalDesc.isin ('Single','Married')).count()

260

In [70]:
hrDF.filter(hrDF.MaritalDesc.isin ('Single','Married')).show(1)

+-------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+--------------------+----------------+-------------+------------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
|Employee_Name|     EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|PayRate|Termd|PositionID|    Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|            RaceDesc|DateofHire|DateofTermination|          TermReason|EmploymentStatus|   Department|       ManagerName|ManagerID| RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|
+-------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+--------------------+----------------+-------------+------------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
|   Brown, Mia|1103024456|        1|              1|       0|          1|     1|          3|                     1|   28.5|    0|         1|Accountant I|   MA|1450|11/24/87|  F|    Married| US Citizen|            No|Black or African ...|10/27/2008|             null|N/A - still employed|          Active|Admin Offices|Brandon R. LeBlanc|        1|Diversity Job Fair|     Fully Meets|            2.04|              2|                   6|                 1/15/2019|             0|
+-------------+----------+---------+---------------+--------+-----------+------+-----------+----------------------+-------+-----+----------+------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+--------------------+----------------+-------------+------------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+
only showing top 1 row

In [22]:
hrDF.select('*').where(hrDF.MaritalDesc.isin ('Single','Married')).count()

260

## How to find the mean of each age group in DataFrame?

In [23]:
hrDF.groupby('MaritalDesc').agg({'PayRate': 'mean'}).show()

+-----------+------------------+
|MaritalDesc|      avg(PayRate)|
+-----------+------------------+
|  Separated|             29.75|
|       null|              null|
|    Married| 31.78365853658536|
|   Divorced|26.616666666666667|
|    Widowed|            28.275|
|     Single| 32.16934306569343|
+-----------+------------------+

In [24]:
hrDF.groupby('MaritalDesc').count().show()

+-----------+-----+
|MaritalDesc|count|
+-----------+-----+
|  Separated|   12|
|       null|   91|
|    Married|  123|
|   Divorced|   30|
|    Widowed|    8|
|     Single|  137|
+-----------+-----+

## How to create a sample DataFrame from the base DataFrame?

We can use sample operation to take sample of a DataFrame. The sample method on DataFrame will return a DataFrame containing the sample of base DataFrame. The sample method will take 3 parameters.

>withReplacement = True or False to select a observation with or without replacement.
>fraction = x, where x = .5 shows that we want to have 50% data in sample DataFrame.
>seed for reproduce the result

Letâ€™s create the two DataFrame t1 and t2 from train, both will have 20% sample of train and count the number of rows in each.

In [28]:
t1 = hrDF.sample(withReplacement=False, fraction=20/100, seed=50)
t2 = hrDF.sample(withReplacement=False, fraction=20/100, seed=20)

In [30]:
t1.count()

75

In [31]:
t2.count()

80

## How to apply map operation on DataFrame columns?

We can apply a function on each row of DataFrame using map operation. After applying this function, we get the result in the form of RDD.

In [41]:
hrDF.select('EmpID','Employee_Name').rdd.map(lambda x:(x,1)).take(5)

[(Row(EmpID=1103024456, Employee_Name='Brown, Mia'), 1),
 (Row(EmpID=1106026572, Employee_Name='LaRotonda, William  '), 1),
 (Row(EmpID=1302053333, Employee_Name='Steans, Tyrone  '), 1),
 (Row(EmpID=1211050782, Employee_Name='Howard, Estelle'), 1),
 (Row(EmpID=1307059817, Employee_Name='Singh, Nan '), 1)]

## How to sort the DataFrame based on column(s)?

We can use orderBy operation on DataFrame to get sorted output based on some column. The orderBy operation take two arguments.

>List of columns.
>ascending = True or False for getting the results in ascending or descending order(list in case of more than two columns )

Letâ€™s sort the train DataFrame based on â€˜DeptIDâ€™.

In [62]:
hrDF.select('EmpID','Employee_Name','DeptID').filter(hrDF.DeptID.isNotNull()).orderBy('DeptID',ascending=False).show()

+----------+--------------------+------+
|     EmpID|       Employee_Name|DeptID|
+----------+--------------------+------+
|1409070567|        Costa, Latia|     6|
|1111030503|    Villanueva, Noah|     6|
|1401064637|    Terry, Sharlene |     6|
|1504073313|        Buck, Edward|     6|
|1403065721|   Carter, Michelle |     6|
|1411071302|      Fraval, Maruk |     6|
|1306059197|    Digitale, Alfred|     6|
|1203032099|      Givens, Myriam|     6|
|1302053046|     Gill, Whitney  |     6|
|1001084890|       Jeremy Prater|     6|
|1001167253|     Guilianno, Mike|     6|
|1104025008|Khemmich, Barthol...|     6|
|1306057978|    Mullaney, Howard|     6|
|1209048771|     Martins, Joseph|     6|
|1411071295|     Strong, Caitrin|     6|
|1209049326|       McKinzie, Jac|     6|
|1504073368|    Bunbury, Jessica|     6|
|1111030684|      Nguyen, Dheepa|     6|
|1204032843|     Friedman, Gerry|     6|
|1501072180|      Onque, Jasmine|     6|
+----------+--------------------+------+
only showing top 20 rows

### How to add the new column in DataFrame?

We can use withColumn operation to add new column (we can also replace) in base DataFrame and return a new DataFrame. The withColumn operation will take 2 parameters.

>Column name which we want add /replace.
>Expression on column.

Letâ€™s see how withColumn works.

In [73]:
hrDF.withColumn('EngagementSurvey_new',hrDF.EngagementSurvey+1).select('EngagementSurvey','EngagementSurvey_New').show(5)

+----------------+--------------------+
|EngagementSurvey|EngagementSurvey_New|
+----------------+--------------------+
|            2.04|                3.04|
|             5.0|                 6.0|
|             3.9|                 4.9|
|            3.24|                4.24|
|             5.0|                 6.0|
+----------------+--------------------+
only showing top 5 rows

## How to Apply SQL Queries on DataFrame?

In [75]:
hrDF.registerTempTable('HR_DATASET')

In [77]:
sqlContext.sql('select Employee_Name,EmpID from HR_DATASET').show()

+--------------------+----------+
|       Employee_Name|     EmpID|
+--------------------+----------+
|          Brown, Mia|1103024456|
|LaRotonda, William  |1106026572|
|    Steans, Tyrone  |1302053333|
|     Howard, Estelle|1211050782|
|         Singh, Nan |1307059817|
|    Smith, Leigh Ann| 711007713|
|    Bunbury, Jessica|1504073368|
|   Carter, Michelle |1403065721|
|   Dietrich, Jenna  |1408069481|
|    Digitale, Alfred|1306059197|
|     Friedman, Gerry|1204032843|
|     Gill, Whitney  |1302053046|
|   Gonzales, Ricardo|1411071481|
|     Guilianno, Mike|1001167253|
|    Leruth, Giovanni|1412071660|
|    Mullaney, Howard|1306057978|
|       Ozark, Travis| 812011761|
|     Strong, Caitrin|1411071295|
|     Valentin,Jackie|1312063714|
|    Villanueva, Noah|1111030503|
+--------------------+----------+
only showing top 20 rows

## Pandas vs PySpark DataFrame

1:> Operation on Pyspark DataFrame run parallel on different nodes in cluster but, in case of pandas it is not possible.

2:> Operations in PySpark DataFrame are lazy in nature but, in case of pandas we get the result as soon as we apply any operation.

3:> In PySpark DataFrame, we canâ€™t change the DataFrame due to itâ€™s immutable property, we need to transform it. But in pandas it is not the case.
Pandas API support more operations than PySpark DataFrame. Still pandas API is more powerful than Spark.

4:> Complex operations in pandas are easier to perform than Pyspark DataFrame